In [1]:
import findspark
findspark.init()
findspark.find()

'c:\\Users\\user\\miniconda3\\lib\\site-packages\\pyspark'

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import year, col, lit
from datetime import datetime
import logging

In [3]:
spark = SparkSession.builder\
        .appName("Silver_Layer_Ingesion")\
        .enableHiveSupport()\
        .getOrCreate()

In [9]:
df = spark.sql("SELECT * FROM gfs_customers")

In [10]:
df.show()

+-----------+--------------------+--------------------+--------------------+---------------+-------------+------+-------------+---------+----+
|Customer_ID|                Name|               Email|           Telephone|           City|      Country|Gender|Date_Of_Birth|Job_Title|year|
+-----------+--------------------+--------------------+--------------------+---------------+-------------+------+-------------+---------+----+
|    1571768|     António Andrade|antónio.andrade@f...|   (351) 921 848 592|          Porto|     Portugal|     M|   2006-12-09|     NULL|2006|
|       2676|       Natalie Adams|natalie.adams@fak...|001-711-886-2633x...|       New York|United States|     F|   2006-05-17|     NULL|2006|
|    1573609|Andreia de Rodrigues|andreia.de.rodrig...|     (351) 931511410|          Porto|     Portugal|     F|   2006-12-02|     NULL|2006|
|       6167| Jonathon Becker DDS|jonathon.becker.d...|        900-645-2514|       New York|United States|     M|   2006-08-04|     NULL|2006|
|    1580996|Yara-Valentina Sa...|yara-valentina.sa...|         935 285 327|          Porto|     Portugal|     F|   2006-09-17|     NULL|2006|
|       6467|      Darren Mcguire|darren.mcguire@fa...|        788.474.9497|       New York|United States|     M|   2006-06-20|     NULL|2006|
|    1621487|      Márcio Pacheco|márcio.pacheco@fa...|     (351) 919877138|      Guimarães|     Portugal|     M|   2006-06-14|     NULL|2006|
|       8335|         Todd Chavez|todd.chavez@fake_...|+1-762-571-7373x0...|       New York|United States|     M|   2006-03-27|     NULL|2006|
|    1635131|   Cristiano Almeida|cristiano.almeida...|           913441982|        Coimbra|     Portugal|     M|   2006-09-15|     NULL|2006|
|       9092|       Bryce Griffin|bryce.griffin@fak...|  432-622-7143x52880|       New York|United States|     M|   2006-03-27|     NULL|2006|
|    1636523|        Teresa Nunes|teresa.nunes@fake...|   (351) 253 044 455|        Coimbra|     Portugal|     F|   2006-07-12|     NULL|2006|
|      10995|     Jennifer Austin|jennifer.austin@f...|   646-222-2288x0543|       New York|United States|     F|   2006-02-26|     NULL|2006|
|    1640287|         Enzo Campos|enzo.campos@fake_...|           960234910|        Coimbra|     Portugal|     M|   2006-09-29|     NULL|2006|
|      12435|     Michelle Harris|michelle.harris@f...|  (763)543-1659x0070|       New York|United States|     F|   2006-11-02|     NULL|2006|
|    1641036|        Érica Coelho|érica.coelho@fake...|   (351) 286 387 541|Condeixa-a-Nova|     Portugal|     F|   2006-02-11|     NULL|2006|
|      13342|        Brian Dodson|brian.dodson@fake...|+1-922-576-4937x8137|       New York|United States|     M|   2006-02-03|     NULL|2006|
|      13880|         Wendy Silva|wendy.silva@fake_...| +1-268-248-1757x872|       New York|United States|     F|   2006-06-23|     NULL|2006|
|      16762|         Hannah Wolf|hannah.wolf@fake_...|   (497)302-4969x003|       New York|United States|     F|   2006-12-13|     NULL|2006|
|      18035|      Erika Hamilton|erika.hamilton@fa...|          6845389813|       New York|United States|     F|   2006-07-31|     NULL|2006|
|      18323|      Kevin Richards|kevin.richards@fa...| +1-645-459-9416x668|       New York|United States|     M|   2006-12-09|     NULL|2006|
+-----------+--------------------+--------------------+--------------------+---------------+-------------+------+-------------+---------+----+
only showing top 20 rows

In [ ]:
df.write \
  .format("jdbc") \
  .option("url", "jdbc:sqlserver://<sql-server>:1433;database=datawarehouse") \
  .option("dbtable", "LocalSQLServerTable") \
  .option("user", "<username>") \
  .option("password", "<password>") \
  .save()

In [16]:
spark.sql("CREATE DATABASE datawarehouse")

DataFrame[]

In [4]:
spark.sql("use datawarehouse")

DataFrame[]

In [5]:
spark.sql("create schema stage")
spark.sql("create schema gold")

AnalysisException: [SCHEMA_ALREADY_EXISTS] Cannot create schema `stage` because it already exists.
Choose a different name, drop the existing schema, or add the IF NOT EXISTS clause to tolerate pre-existing schema.

In [13]:
spark.sql("use stage").show()

++
||
++
++

In [15]:
spark.sql("CREATE TABLE IF NOT EXISTS stage.t_gfs_customers AS SELECT * FROM default.gfs_customers WHERE 1=0;")

DataFrame[]

In [16]:
spark.sql("INSERT INTO stage.t_gfs_customers SELECT * FROM default.gfs_customers;")

DataFrame[]

In [19]:
spark.sql("""
          select * from stage.t_gfs_customers
""").show()

+-----------+--------------------+--------------------+--------------------+---------------+-------------+------+-------------+---------+----+
|Customer_ID|                Name|               Email|           Telephone|           City|      Country|Gender|Date_Of_Birth|Job_Title|year|
+-----------+--------------------+--------------------+--------------------+---------------+-------------+------+-------------+---------+----+
|    1571768|     António Andrade|antónio.andrade@f...|   (351) 921 848 592|          Porto|     Portugal|     M|   2006-12-09|     NULL|2006|
|       2676|       Natalie Adams|natalie.adams@fak...|001-711-886-2633x...|       New York|United States|     F|   2006-05-17|     NULL|2006|
|    1573609|Andreia de Rodrigues|andreia.de.rodrig...|     (351) 931511410|          Porto|     Portugal|     F|   2006-12-02|     NULL|2006|
|       6167| Jonathon Becker DDS|jonathon.becker.d...|        900-645-2514|       New York|United States|     M|   2006-08-04|     NULL|2006|
|    1580996|Yara-Valentina Sa...|yara-valentina.sa...|         935 285 327|          Porto|     Portugal|     F|   2006-09-17|     NULL|2006|
|       6467|      Darren Mcguire|darren.mcguire@fa...|        788.474.9497|       New York|United States|     M|   2006-06-20|     NULL|2006|
|    1621487|      Márcio Pacheco|márcio.pacheco@fa...|     (351) 919877138|      Guimarães|     Portugal|     M|   2006-06-14|     NULL|2006|
|       8335|         Todd Chavez|todd.chavez@fake_...|+1-762-571-7373x0...|       New York|United States|     M|   2006-03-27|     NULL|2006|
|    1635131|   Cristiano Almeida|cristiano.almeida...|           913441982|        Coimbra|     Portugal|     M|   2006-09-15|     NULL|2006|
|       9092|       Bryce Griffin|bryce.griffin@fak...|  432-622-7143x52880|       New York|United States|     M|   2006-03-27|     NULL|2006|
|    1636523|        Teresa Nunes|teresa.nunes@fake...|   (351) 253 044 455|        Coimbra|     Portugal|     F|   2006-07-12|     NULL|2006|
|      10995|     Jennifer Austin|jennifer.austin@f...|   646-222-2288x0543|       New York|United States|     F|   2006-02-26|     NULL|2006|
|    1640287|         Enzo Campos|enzo.campos@fake_...|           960234910|        Coimbra|     Portugal|     M|   2006-09-29|     NULL|2006|
|      12435|     Michelle Harris|michelle.harris@f...|  (763)543-1659x0070|       New York|United States|     F|   2006-11-02|     NULL|2006|
|    1641036|        Érica Coelho|érica.coelho@fake...|   (351) 286 387 541|Condeixa-a-Nova|     Portugal|     F|   2006-02-11|     NULL|2006|
|      13342|        Brian Dodson|brian.dodson@fake...|+1-922-576-4937x8137|       New York|United States|     M|   2006-02-03|     NULL|2006|
|      13880|         Wendy Silva|wendy.silva@fake_...| +1-268-248-1757x872|       New York|United States|     F|   2006-06-23|     NULL|2006|
|      16762|         Hannah Wolf|hannah.wolf@fake_...|   (497)302-4969x003|       New York|United States|     F|   2006-12-13|     NULL|2006|
|      18035|      Erika Hamilton|erika.hamilton@fa...|          6845389813|       New York|United States|     F|   2006-07-31|     NULL|2006|
|      18323|      Kevin Richards|kevin.richards@fa...| +1-645-459-9416x668|       New York|United States|     M|   2006-12-09|     NULL|2006|
+-----------+--------------------+--------------------+--------------------+---------------+-------------+------+-------------+---------+----+
only showing top 20 rows

In [20]:
spark.stop()